@model Library.Models.BookModel

<div>
    <h2>@Html.DisplayFor(model => model.BookName)</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
    </dl>
</div>
