@model IEnumerable<Library.Models.BookModel>

<style>
    .btn-link {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 2px;
    }

    .book:nth-child(even) {
        background-color: #ccc;
    }

    .book-detail-area {
        max-height: 50vh;
        overflow-y: auto;
    }

    .sm-mb-2 {
        margin-bottom: 2px;
    }

    .flex-align-center {
        display: flex;
        align-items: center;
    }

    .justify-content {
        justify-content: space-between;
    }

    .book-list-header {
        padding: 5px 0px;
        background-color: transparent;
    }

    .accordion {
        background-color: #e5e5e5;
    }

    .accordion-header {
        background-color: #eee;
        color: #444;
    }

        .accordion-active, .accordion-header:hover {
            background-color: #ccc;
        }

    .accordion-btn {
        background-color: transparent;
        cursor: pointer;
        padding: 18px;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        font-weight: bold;
    }

    .panel {
        padding: 10px 18px;
        display: none;
        overflow: hidden;
    }
</style>

<script type="text/javascript">
        $(document).ready(function () {
            var ids = [];
            var bookDetail = $("#BookDetailModal").find(".book-detail").clone();
            var returnBookDetail = $("#ReturnBookModal").find(".return-book-details").clone();
            function selectBook(item) {
                    if (item.checked) {
                        ids.push(item.value);
                    }
                    else {
                        ids.pop(item.value);
                    }

                    if (ids.length == 0) {
                        $("#borrowBtn").prop("disabled", true);
                    }
                    else {
                        $("#borrowBtn").removeAttr("disabled");
                    }
                console.log(ids);
            }

            $("#select-all").click(function () {
                if (this.checked) {
                    $(".form-check-input").each(function () {
                        if (!this.disabled && !this.checked) {
                            this.checked = true;
                            selectBook(this);
                        }
                    });
                } else {
                    $(".form-check-input").each(function () {
                        if (!this.disabled) {
                            this.checked = false;
                            selectBook(this);
                        }
                    });
                }
            });

            $(".form-check-input").click(function () {
                if (this.checked) {
                    var unChecked = 0;

                    $(".form-check-input").each(function () {
                        if (!this.checked && !this.disabled) {
                            unChecked = 1;
                        }
                    });

                    if (unChecked == 0) {
                        $("#select-all").prop("checked", true);
                    }
                }
                else {
                    $("#select-all").prop("checked", false);
                }
                selectBook(this);
            });

            $('#BookDetailModal').on('hidden.bs.modal', function () {
                $("#BookDetailModal").find(".book-detail").html('');
                $("#BorrowerName").val('');
                $("#Address").val('');

            });

            $("#borrowBtn").click(function (e) {
                e.preventDefault();
                $.ajax({
                    method: "POST",
                    dataType: "json",
                    url: "@Url.Action("BatchBorrow", "Home")",
                    data: JSON.stringify(ids),
                    contentType: "application/json",
                    success: function (data) {
                        // populate data to fields
                        var booksHtml = '';
                        for (var i = 0; i < data.books.length; i++) {
                            $(bookDetail).find("input[name='BookIds']").val(data.books[i].id);
                            $(bookDetail).find(".book-id-value").text(data.books[i].id);
                            $(bookDetail).find(".book-name-value").text(data.books[i].bookName);
                            $(bookDetail).find(".book-author-value").text(data.books[i].author);
                            $(bookDetail).find(".book-published-date-value").text(new Date(data.books[i].publishedDate).toDateString());
                            booksHtml += bookDetail.html();
                        }
                        $("#BookDetailModal").find(".book-detail").html(booksHtml);
                        $("#BookDetailModal").modal('show');
                    }
                });
            });

            $(".accordion-btn").click(function (e) {
                e.preventDefault();
                var accordion = $(this).parent();
                $(accordion).toggleClass("accordion-active");
                $(accordion).next().slideToggle("fast");

                if (!$(accordion).hasClass("fetched")) {
                    $(accordion).addClass("fetched");
                    var panel = $(accordion).next();
                    $.ajax({
                        method: "POST",
                        dataType: "json",
                        url: "@Url.Action("FetchBookListItem", "Home")",
                        data: JSON.stringify($(accordion).find(".check-book-id").val()),
                        contentType: "application/json",
                        success: function (data) {
                            $(panel).find("#panel-book-id").text(data.id);
                            $(panel).find("#panel-book-name").text(data.bookName);
                            $(panel).find("#panel-book-author").text(data.author);
                            $(panel).find("#panel-book-published").text(new Date(data.publishedDate).toDateString());
                            if (data.borrower != null) {
                                $(panel).find("#panel-borrowed-date").text(new Date(data.dateBorrowed).toDateString());
                                $(panel).find("#panel-borrower-name").text(data.borrower.borrowerName);
                                $(panel).find("#panel-borrower-address").text(data.borrower.address);
                            }
                        }
                    });
                }
            });

            $(".direct-borrow-btn").click(function (e) {
                e.preventDefault();
                var data = [$(this).val()];
                $.ajax({
                    method: "POST",
                    dataType: "json",
                    url: "@Url.Action("BatchBorrow", "Home")",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    success: function (data) {
                        console.log("basta na open");
                        // populate data to fields
                        var booksHtml = '';
                        $(bookDetail).find("input[name='BookIds']").val(data.books[0].id);
                        $(bookDetail).find(".book-id-value").text(data.books[0].id);
                        $(bookDetail).find(".book-name-value").text(data.books[0].bookName);
                        $(bookDetail).find(".book-author-value").text(data.books[0].author);
                        $(bookDetail).find(".book-published-date-value").text(new Date(data.books[0].publishedDate).toDateString());
                        booksHtml += bookDetail.html();
                        $("#BookDetailModal").find(".book-detail").html(booksHtml);
                        $("#BookDetailModal").modal('show');
                    }
                });
            });

            $(".returnBookBtn").click(function (e) {
                e.preventDefault();
                var data = $(this).val();
                $.ajax({
                    method: "POST",
                    dataType: "json",
                    url: "@Url.Action("ReturnBookModal", "Home")",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    success: function (data) {
                        var returnBookHtml = '';
                        $(returnBookDetail).find("input[name='returnId']").val(data.book.id);
                        $(returnBookDetail).find(".return-book-id").text(data.book.id);
                        $(returnBookDetail).find(".return-book-book-name").text(data.book.bookName);
                        $(returnBookDetail).find(".return-book-author").text(data.book.author);
                        $(returnBookDetail).find(".return-book-published-date").text(new Date(data.book.publishedDate).toDateString());
                        $(returnBookDetail).find(".return-book-borrower-date").text(new Date(data.dateBorrowed).toDateString());
                        $(returnBookDetail).find(".return-book-borrower-name").text(data.borrower.borrowerName);
                        $(returnBookDetail).find(".return-book-borrower-address").text(data.borrower.address);
                        returnBookHtml += returnBookDetail.html();
                        $("#ReturnBookModal").find(".return-book-details").html(returnBookHtml);
                        $("#ReturnBookModal").modal('show');
                    }
                });
            });

        });
</script>

<div class="modal" tabindex="-1" hidden id="BookDetailModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Borrow Book Form</h4>
            </div>
            <form asp-action="BorrowBooks">
                <div class="modal-body book-detail-area">
                    <h4>You are about to borrow:</h4>
                    <div class="flex-align-center row sm-mb-2 bg-primary">
                        <div class="col-md-1 col-xs-1">Id</div>
                        <div class="col-md-4 col-xs-4">Book Name</div>
                        <div class="col-md-4 col-xs-4">Author</div>
                        <div class="col-md-3 col-xs-3">Published Date</div>
                    </div>

                    <div class="book-detail">
                        <div class="flex-align-center row sm-mb-2 book">
                            <input type="hidden" name="BookIds" />
                            <div class="book-id-value col-md-1 col-xs-1"></div>
                            <div class="book-name-value col-md-4 col-xs-4"></div>
                            <div class="book-author-value col-md-4 col-xs-4"></div>
                            <div class="book-published-date-value col-md-3 col-xs-3"></div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="modal-body">
                    <h4>Enter Borrower Details</h4>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label for="BorrowerName" class="control-label">Borrower Name</label>
                        <input type="text" name="BorrowerName" id="BorrowerName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Address" class="control-label">Address</label>
                        <input type="text" name="Address" id="Address" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="SubmitBorrowedBooks" class="btn btn-primary">Submit</button>
                    <button id="CancelBtn" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" hidden id="ReturnBookModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Return Book Form</h4>
            </div>
            <form asp-action="ReturnBook">
                <div class="modal-body">
                    <div class="return-book-details">
                        <input type="hidden" name="returnId" />

                        <dl class="dl-horizontal">
                            <dt>
                                Book Id
                            </dt>
                            <dd class="return-book-id">
                            </dd>
                            <dt>
                                Book Name
                            </dt>
                            <dd class="return-book-book-name">
                                Book Name Value
                            </dd>
                            <dt>
                                Author
                            </dt>
                            <dd class="return-book-author">
                                Author value
                            </dd>
                            <dt>
                                Published Date
                            </dt>
                            <dd class="return-book-published-date">
                                Published Date Value
                            </dd>
                        </dl>

                        <dl class="dl-horizontal">
                            <dt>
                                Borrowed By
                            </dt>
                            <dd class="return-book-borrower-name">
                                Borrower Name Value
                            </dd>
                            <dt>
                                Address
                            </dt>
                            <dd class="return-book-borrower-address">
                                Address Value
                            </dd>
                            <dt>
                                Borrowed On
                            </dt>
                            <dd class="return-book-borrower-date">
                                Date Borrowed Value
                            </dd>
                        </dl>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Return</button>
                    <button data-dismiss="modal" class="btn btn-secondary">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<form asp-action-for="BatchBorrow" id="borrowBooksForm">

    <div class="container-fluid accordion-active sm-mb-2">
        <div class="book-list-header row flex-align-center">
            <input type="checkbox" class="col-md-1 col-xs-1" id="select-all" />
        </div>
    </div>

    @foreach (var item in Model)
    {
        <div class="accordion container-fluid sm-mb-2">
            <div class="accordion-header row flex-align-center">
                <input class="form-check-input col-md-1 col-xs-1 check-book-id" type="checkbox" value="@item.Id" disabled="@item.Borrowed" />
                <div class="accordion-btn col-md-10 col-xs-8 row flex-align-center">
                    @item.BookName
                </div>
                @{
                    if (!item.Borrowed)
                    {
                        <button class="btn btn-primary col-md-1 col-xs-3 direct-borrow-btn" value="@item.Id">
                            Available
                        </button>
                    }
                }
            </div>
            <div class="panel">
                <div class="row panel-content" id="panel-@item.Id">
                    <dl class="dl-horizontal col-md-6 col-xs-12 panel-content-book">
                        <dt>
                            Book Id
                        </dt>
                        <dd id="panel-book-id">
                            Book Id Value
                        </dd>
                        <dt>
                            Book Name
                        </dt>
                        <dd id="panel-book-name">
                            Book Name Value
                        </dd>
                        <dt>
                            Author
                        </dt>
                        <dd id="panel-book-author">
                            Author value
                        </dd>
                        <dt>
                            Published Date
                        </dt>
                        <dd id="panel-book-published">
                            Published Date Value
                        </dd>
                    </dl>

                    @{
                        if (item.Borrowed)
                        {
                            <dl class="dl-horizontal col-md-6 col-xs-12 panel-content-borrower">
                                <dt>
                                    Borrowed By
                                </dt>
                                <dd id="panel-borrower-name">
                                    Borrower Name Value
                                </dd>
                                <dt>
                                    Address
                                </dt>
                                <dd id="panel-borrower-address">
                                    Address Value
                                </dd>
                                <dt>
                                    Borrowed On
                                </dt>
                                <dd id="panel-borrowed-date">
                                    Date Borrowed Value
                                </dd>
                            </dl>
                        }
                    }
                </div>
                <hr>
                @{
                    if (item.Borrowed)
                    {
                        <button class="btn btn-link returnBookBtn" value="@item.Id"> Return </button>
                        <span> | </span>
                    }
                }
                @Html.ActionLink("Delete", "DeleteBook", new { id = item.Id })
            </div>
        </div>
    }
    <hr />
    <button class="btn btn-primary" id="borrowBtn" disabled>Borrow</button>
</form>