@model IEnumerable<Library.Models.BookModel>

    @*<script type="text/javascript">
        $(document).ready(function () {
            var ids = [];
            $(".form-check-input").click(function () {
                ids.push(this.value);
                console.log(ids);
            });

            $("#borrowBtn").click(function (e) {
                e.preventDefault();

                $.ajax({
                    method: "POST",
                    dataType: "json",
                    url: "@Url.Action("BorrowBooks", "Home")",
                    data: JSON.stringify({ ids }),
                    contentType: "application/json",
                    success: function (data) {
                        alert(data);
                        $(".testing").HTML(data);
                    },
                    error: function (x) {
                        console.log(x);
                    }
                });
            });
        });

    </script>*@


<form asp-action="BorrowBooks" id="borrowBooksForm">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Borrow
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {


                <tr>
                    <td>
                        <input class="form-check-input" type="checkbox" name="ids" value="@item.Id" disabled="@item.Borrowed" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.ActionLink("Details", item.Borrowed ? "ReturnBook" : "BorrowBook", new { id = item.Id })
                        @{
                            if (item.Borrowed)
                            {
                                <span> | Unavailable</span>
                            }
                        }
                    </td>
                </tr>

            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary" id="borrowBtn">Borrow</button>
</form>
<div class="testing">

</div>
