@model IEnumerable<Library.Models.BookModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Book">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditBook", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteBook", new { id = item.Id }) |
                @{ 
                    if (item.IsAvailable)
                    {
                        @Html.ActionLink("Available", "BorrowBook", new { id = item.Id });
                    }
                    else
                    {
                        @Html.ActionLink("Not Available", "BorrowBookDetail", new { id = item.Id });
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
